@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap');


:root{
    --blue:rgb(11, 167, 120);
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(187, 187, 216, 0.2);
    --text-shadow:.4rem .4rem 0 rgba(178, 180, 187, 0.2);
    --border:.2rem solid var(--green);
    --btnBg:rgb(11, 167, 120);
    --btnBoder:rgb(11, 167, 120)
}


*{
    font-family: 'Montserate', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
}

body{
    overflow-x: hidden;

}
html{
    font-size:62.5% ;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
 

}
section:nth-last-child(even){
margin-bottom: 50px;
}

section:nth-child(even){
    background-color: #f5f5f5;
}

.cure{
    color: var(--blue);
}

.header{
    padding:2rem 9%;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-shadow: 0 .5rem 1.5rem rgba(0, 3, 40, 0.1);
    justify-content: space-between;
background-color: #fff;
 
    
}
.btn{
    margin-top: 1rem;
    padding:1rem;
    padding-left: 1rem;
    border:var(--border);
    display: inline-block;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.7rem;
    background-color:var(--btnBg) ;


}
a{
    text-decoration: none;
}

.btn:hover{
    background-color: #fff;
    border: 1px solid  var(--btnBoder);
    color: rgb(11, 167, 120);
}


.header, .logo{ 
    font-size: 2.5rem;
    color: var(--black);
}
.navbar, a{
    font-size: 1.7rem;
    color:var(--light-color);
    margin-left: 2rem;
    text-decoration: none;
}
.header,.navbar a:hover{  
   color: var(--blue);
}

#Menubtn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background-color:#eee ;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

/* ====Home styling */
.home{
    display: flex;
    align-items: center;
    flex-wrap:wrap ;
    padding-top: 10rem;
    height: 100vh;

}

.home .homeimage{
    flex: 1 1 45rem;
  height: 550px;

}
.homeimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .homecontent{
    flex: 1 1 45rem;
}
 .homecontent h3{
    font-size: 4.5rem;
    color: var(--black);
    line-height: 3.7rem;
    text-shadow: var(--text-shadow);
}

.home .homecontent p{
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8rem;
    padding:2rem 0;
   
  
}



.home .homeimage img{
    width: 100%;
}

/* ===== icon styling */

.iconContainer{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top:5rem;
    padding-bottom:5rem;
    font-size: 1.5rem;
}

.iconContainer .icons{
 text-align: center;
 padding: 2.5rem;
 
}

.iconContainer .icons i{
    font-size: 3.5rem;
    color: var(--btnBg);
    padding-bottom: .7rem;
}

.iconContainer .icons h3{
    font-size: 3rem;
    color: var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}
.iconContainer .icons p{
    font-size: 1.7rem;
    color: var(--light-color);
    padding-bottom: .7rem;
}


/* ====== services styling */
.services .servicebox-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.services .servicebox-container .box{
   background-color: #fff;
   border-radius:.5rem ;
   box-shadow: var(--box-shadow);
   border:1px var(--btnBoder);
   padding:2.5rem
}
.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{
    color: var(--blue);
    text-transform: uppercase;
}

.services .servicebox-container .box i{
    color: var(--btnBg);
    font-size: 3.5rem;
    padding-bottom: 3rem;
}

.services .servicebox-container .box h3{
    color: var(--black);
    font-size: 2rem;
    padding: 1rem 0;
}
.services .servicebox-container .box p{
    color: var(--light-color);
    font-size: 1rem;
    line-height: 2;
}



.button{
    background-color: #fff;
    border: 1px solid  var(--btnBoder);
    color: rgb(11, 167, 120);
    margin-top: 1rem;
    padding:.7rem;
    padding-left: 1rem;
    border:1px solid var(--btnBoder);
    display: inline-block;
    border-radius: .5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.7rem;
}

.button:hover{
    background-color: var(--btnBg);
    color: #fff;
}

/* ===== about page==== */
.about .aboutRow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:5rem ;
    
    
}

.aboutRow .imag{
    flex: 1 1 45rem;

    /* padding-right: 10px; */

}


 .imag img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .aboutRow .content{
    flex: 1 1 45rem;

}

.about .aboutRow .content h3{
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 2rem;
  line-height: 3rem;
}

.aboutRow .content p{
    color: var(--light-color);
    padding:1rem 0 ;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  

  /* =====doctors  */

  .doctors .boxContainer{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }


  .doctors .boxContainer .box{
      text-align: center;
      background-color: #fff;
      border-radius: .5rem;
      border: 1px solid var(--btnBoder);
      padding:.5rem ;
      

  }

  .doctors .boxContainer .box img{
      height: 20rem;
      border-radius: .5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;

  }

  .doctors .boxContainer .box h3{
      color: var(--black);
      font: 2rem ;

  }

  .doctors .boxContainer .box span{
    color: var(--black);
    font:1.5rem ;
    
}   

.doctors .boxContainer .box .socialmedia{
    padding-top: 2rem;

}

.doctors .boxContainer .box .socialmedia a{
      height: 5rem;
      width: 3rem;
      line-height: 6rem;
      font-size: 1rem;
      color: var(--light-color);
      text-decoration: none;
      
      /* margin: 1rem; */
      
}


/* ===== Apointment==== */
.booking .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;
}

.booking .row .image{
    flex: 1 1 45rem;
}

.booking .row .image img{
    width: 100%;
}

.booking .row form{
    flex: 1 1 45rem;
    /* background-color: gray; */
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 1.7rem;
    border-radius: .5rem;
    border: 1px solid var(--btnBoder);
   
  

}

.booking .row form h3{
    color: var(--black);
    padding-bottom: 3rem;
    font-size: 3rem;
}

.booking .row form .box{
    width: 100%;
    margin: .7rem 0;
    border-radius: .5rem;
    border: 1px solid #f5f5f5;
    font-size:1.5rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;

}

/* ==== nReviews  */

.Reviews .ReviewsContainer{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
}


.Reviews .ReviewsContainer .box{
    border: 1px solid rgb(11, 167, 120);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2.5rem;
    background-color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;

}

.Reviews .ReviewsContainer .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: .5rem solid #fff;
}

.Reviews .ReviewsContainer .box h3{
    color: #fff;
    font-size: 2rem;
    padding: .5rem 0;
}


.Reviews .ReviewsContainer .box .stars i{
    color: #fff;
    font-size: 1.5rem;
}

.Reviews .ReviewsContainer .box::before{
    content: '';
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--blue);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 18rem;
    width: 100%;
    z-index:-1;

}





.Reviews .ReviewsContainer .box .text{
    color: var(--light-color);
    line-height: 1.8;
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

/* ====== BLOGS=== */

.blog .boxContainer{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.blog .boxContainer .box{
  border: 1px solid var(--blue);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  padding: 2rem;
}

.blog .boxContainer .box .image{
    height: 20rem;
    overflow: hidden;
    border-radius: .5rem;
}

.blog .boxContainer .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog .boxContainer .box:hover .image img{
    transform: scale(1.2);
}

.blog .boxContainer .box .content{
    padding-top: 1rem;
}

.blog .boxContainer .box .content .icon{
    padding:1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog .boxContainer .box .content .icon a{
    font-size: 1.5rem;
    color: var(--light-color);
}

.blog .boxContainer .box .content .icon a i{
padding-right: .5rem;
color: var(--light-color);
}
.blog .boxContainer .box .content h3{
    color: var(--black);
    font-size: 2rem;
   
}
.blog .boxContainer .box .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1rem 0;


}

/* ===== FOOTER==== */

.footer .boxContainer{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.footer .boxContainer .box h3{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}


.footer .boxContainer .box a{
     display:block;
     color: var(--light-color);
     font-size: 1.5rem;
     padding: 1rem 0;

}


.footer .boxContainer .box a i{
   padding-right: .5rem;
   color: var(--blue);
}
.footer .boxContainer .box a:hover i{
    padding-right: 2rem;

}

.footer .copyright{
    padding-top: 2rem;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: var(--light-color);
    border-top: .1rem solid rgb(0, 0, -1);

}

/* --====== MEDIA QUERIES======= */
@media (max-width:991px){
    html{
        font-size: 55%;

    }
    .header{
        padding: 2rem;
    }
}

@media (max-width:768px){
    #Menubtn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 115%;
        right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background-color: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
       
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
      
    }
    
    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
      
        
    } 
    
    

}


@media (max-width:450px){
    html{
        font-size: 50%;

    }
    
}



